@{
    ViewData["Title"] = "Privacy on the web";
}
<h1>@ViewData["Title"]</h1>

<p>People use websites for several important tasks such as banking, shopping, entertainment, and paying their taxes. In doing so, they are required to share personal information with those sites. Users place a certain level of trust in the sites they share their data with. If that information fell into the wrong hands, it could be used to exploit users, for example by profiling them, targeting them with unwanted ads, or even stealing their identity or money.</p>
<p>Modern browsers already have a wealth of features to protect users' privacy on the web, but that's not enough. To create a trustworthy and privacy-respecting experience, developers need to educate their site users in good practices (and enforce them). Developers should also create sites that collect as little data from users as possible, use the data responsibly, and transport and store it securely.</p>
<p>In this article, we:</p>
<p> * Define privacy and important related terms. </p>
<p> * Examine browser features that automatically protect user privacy.</p>
<p> * Look at what developers can do to create privacy-respecting web content that minimizes the risk of users' personal information/data being obtained unexpectedly by third parties.</p>
@{
    ViewData["Title"] = "Defining privacy terms and concepts";
}
<p> Before we look at the various privacy and security features available to use on the web, let's define some important terms.</p>
<p> It is hard to talk about privacy without also talking about security — they are closely related, and you can't really create privacy-respecting websites without good security. Therefore, we shall define both.</p>
<p> * <strong>Privacy</strong> refers to the act of giving users the right to control how their data is collected, stored, and used, and not using it irresponsibly. For example, you should clearly communicate to your users what data you are collecting, who it will be shared with, and how it will be used. Users must be given a chance to consent to your terms of data usage, have access to all of their data that you are storing, and delete it if they no longer wish you to have it. You must also comply with your own terms: nothing erodes user trust like having their data used and shared in ways they never consented to. And this isn't just ethically wrong; it could be against the law. Many parts of the world now have legislation that protects consumer privacy rights (for example the EU's GDPR).</p>
<p> *<strong> Security</strong> is the act of keeping private data and systems protected against unauthorized access. This includes both company (internal) data, and user and partner (external) data. It is no use having a robust privacy policy that makes your users trust you if your security is weak and malicious parties can steal their data anyway.</p>
@{
    ViewData["Title"] = "Personal and private information";
}
<p> <strong>Personal information </strong>  is any information that describes a user. Examples include:</p>
<p>* Postal address, email address, phone number, or other contact information</p>
<p>* Passport number, bank account, credit card, social security number, or other official identifiers</p>
<p>* Physical attributes such as height, gender expression, weight, hair color, or age</p>
<p>* Health information such as medical history, allergies, or ongoing conditions </p>
<p>* Usernames, when they can be linked to an individual</p>
<p>* Hobbies, interests, or other personal preferences</p>
<p>* Biometric data such as fingerprints or facial recognition data</p>

<p> <strong> Private information </strong> is any information that users do not want shared publicly and must be kept private (i.e., information that is accessible only by a certain group of authorized users). Some private data is private by law (for example medical data), and some is private more by personal preference.</p>
